.server {
    position: relative; /* Add this line */
    display: flex;
    align-items: stretch;
    background-color: #f0f0f0;
    border-radius: 10px;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.server:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.3);

    cursor: pointer;
}

.server .icon {
    flex: 0 0 auto;
    margin: auto 20px auto auto;
    width: 50px;
    height: 50px;
}

.server .content {
    flex-grow: 1;
}

.server h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.server p {
    font-size: 16px;
    color: #666;
}

.server .status {
    position: absolute;
    right: 5px;
    top: 3px;
    bottom: 3px;
    width: 10px;
    background-color: green;
    border-radius: 5px;
}

.server .status-not-running {
    background-color: red;
}