@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#logo {
  height: 100px;
  pointer-events: none;
  border-radius: 10px;
}

header {
  background-color: #f0f0f0; /* Remplacez par la couleur de votre marque */
  padding: 20px;
  display: flex;
  width: 100%;
}

header h1 {
  margin: 0 0 0 50px;
  font-size: 50px;
}

header menu {
  display: flex;
  margin: auto 2% auto auto;
  text-align: right;
}

.menu_child {
    margin: 0 30px;
    font-size: 25px;
}

.menu_child .user_icon {
    width: 50px;
    height: 50px;
}

.menu_child:hover {
  color: red;
  cursor: pointer;
  border: 2px solid #000;
  box-sizing: border-box;
  border-radius: 5px;
}

footer {
  background-color: #f0f0f0; /* Remplacez par la couleur de votre marque */
  padding: 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
}