name: "Deploy to GitHub Pages"

on:
    push:
        branches:
            - master
            - main

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: "22"
            - name: Setup git creditential
              run: | 
                 git config --global user.name "${GITHUB_ACTOR}" 
                 git config --global user.email "${GITHUB_ACTOR}@users.noreply.github.com"

            - name: Install dependencies
              run: npm install

            - name: Build
              run: npm run deploy
              env:
                 CI: ""
